<form action='/trees' method='get'>
  <input type='submit' value='Go back'/>
</form>
<h1>Add a New Tree</h1>
<form action='/trees'method='post'>
  <input type='text' name='name' placeholder='Tree name'/>
  <input type='text' name='fruit' placeholder='What fruit?'/>
  <input type='submit' value='Add Tree'/>
</form>
